  <meta name="description" content="{{page.excerpt}}">
  <meta name="keywords" content="{{page.tags| join: ', '}}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="article" />
  <!-- <meta property="og:url" content="{{siteURL()}}" /> --> <!-- TODO: Enabling this causes FB to fetch this page on deep pages -->
  <meta property="og:image" content="{{site.url}}/images/logo-256.png" />
  <meta property="og:description" content="{{page.excerpt}}" />
  <meta property="og:site_name" content="{{site.title}}" />
  <!-- <meta property="fb:admins" content="Facebook numeric ID" /> -->
